html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(217, 172, 172);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
}

h1 {
    color: #a10000;
    font-weight: 700;
    margin: 1rem 0;
}

h2,
h3 {
    font-weight: 700;
    margin: 1rem 0;
}

.portions {
    font-weight: 100;
    white-space: nowrap;
}

ol,
ul {
    list-style-position: outside;
    margin-top: 0.5rem;
    padding-left: 2rem;
}

li {
    padding-left: 0.5rem;
}

main {
    background-color: white;
    margin-inline: auto;
    width: 100%;
}

header img {
    background-position: center;
    object-fit: cover;
    width: 100%;
}

article {
    padding-inline: 2rem;
}

article section:last-child {
    padding-bottom: 2em;
}

article p {
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 1rem;
}

.imgContent {
    column-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.imgContent .img {
    aspect-ratio: 1;
    background-position: right;
    flex: auto;
    object-fit: cover;
    width: 20rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main {
        max-width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main {
        max-width: 600px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main {
        max-width: 768px;
    }
}