* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(217, 172, 172);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;

    h1 {
        color: #a10000;
        font-size: 2rem;
    }
}


main {
    background-color: white;
    margin-inline: auto;
    width: 100%;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        max-width: 100%;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        max-width: 768px;
    }
}

article {
    margin-inline: 2rem;

    aside {
        background-color: rgb(235, 235, 235);
        padding: 1rem;
        font-style: normal;
        display: block;
    }

    header {
        margin-inline: -2rem;


        img {
            object-fit: cover;
            width: 100%;
        }

    }

    section {
        .portions {
            font-weight: 400;
            font-style: normal;
        }

        ol,
        ul {
            list-style-position: outside;
            margin-top: 0.5rem;
            padding-left: 2rem;

            li {
                padding-left: 0.5rem;
            }
        }
    }

    section:last-of-type {
        padding-bottom: 2em;
    }

    figure {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
        gap: 1rem;
        margin: 0;

        img {
            border-radius: 0.25rem;
            width: 100%;
        }
    }
}