:root {
    --gap: 1em;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(217, 172, 172);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
}

h1 {
    color: #a10000;
}

section {
    em.portions {
        font-weight: 400;
        font-style: normal;
    }

    ol,
    ul {
        list-style-position: outside;
        margin-top: 0.5rem;
        padding-left: 2rem;

        li {
            padding-left: 0.5rem;
        }
    }

    padding-inline: 2rem;
}


main {
    background-color: white;
    margin-inline: auto;
    width: 100%;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        max-width: 100%;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        max-width: 768px;
    }
}

article {
    header {
        h1 {
            font-size: 2rem;
            margin: 1rem 2rem;
        }

        p {
            margin-inline: 2rem;
        }

        img {
            background-position: center;
            object-fit: cover;
            width: 100%;
        }

        p {
            background-color: rgb(235, 235, 235);
            padding: 1rem;
            font-style: normal;
            display: block;
        }
    }

    footer {
        padding: 0 2rem 2rem 2rem;
    }
}

ul.repeating-grid-auto {
    list-style: none;
}

.repeating-grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    gap: 2rem;
    padding: 0;
    margin: 0;

    img {
        width: 100%;
        border-radius: 0.5rem;
    }

    li,
    figure {
        margin: 0;
        padding: 0;
    }
}